<h1>Editing reporte incidente</h1>

<%= render "form", reporte_incidente: @reporte_incidente %>

<br>

<div>
  <%= link_to "Show this reporte incidente", @reporte_incidente %> |
  <%= link_to "Back to reporte incidentes", reporte_incidentes_path %>
</div>
